.form-container {
    display: grid;
    grid-template-columns: 150px 250px 200px; /* Labels, inputs, validation messages */
    gap: 10px 20px; /* Row gap, column gap */
    max-width: 600px;
    margin: 0;
    background-color: var(--dirty-white);
    /*border: 1px solid #ccc;*/
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Inputs */
.input-wrapper {
    position: relative;
    display: block;
    grid-column: 2;
}

.required-input, .not_required-input, .readonly-input {
    padding: 8px 20px 8px 8px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

.triangle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-bottom: 10px solid red;
    pointer-events: none;
    z-index: 1;
}

.required-input:not(.error)[value]:not([value=""]) ~ .triangle {
    border-bottom-color: green;
}

.required-input.error ~ .triangle {
    border-bottom-color: red;
}

.readonly-input {
    background: repeating-linear-gradient(-45deg, #ddd, #ddd 5px, white 5px, white 10px);
}

/* Validation messages */
.error-message {
    color: red;
    font-size: 0.8em;
    grid-column: 3;
    text-align: left;
    word-wrap: break-word;
}

/* Labels */
label {
    white-space: nowrap;
    text-align: right;
    padding-right: 10px;
    grid-column: 1;
    font-weight: 550;
}

select.required-input {
    height: 34px;
    border-radius: 4px;
    width: 100%; /* Match input width */
}

.submit-container {
    grid-column: 2; /* Align with input column */
    text-align: left;
}

.submit-button {
    width: 100%; /* Match the input width */
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #45a049;
}