:root {
    --dirty-white: #f9f9f9;

    --background-beige: #faf8f5;
    --light-beige: #d3c5b2;
    --beige: #b3a394;
    --dark-beige: #9b8a7a;

    --light-grey: #D3D3D3;
    --grey: #dddddd;
    --dark-grey: #333333;

    --fresh-green: #28a745;
    --light-green: #50C878;
    --dark-green: #06402B;

    --water-blue: #f0f8ff;
    --light-steel-blue: #91b4d1;
    --baby-blue: #89cff0;
    --blue: #4a90e2;
    --dark-blue: #0056b3;
    --navy-blue: #073763;
    --region-header-blue: #5a7d9a;
    --region-btn-blue: #3C8DAD;

    --orange: #ff813d;
    --light-orange: #fef3c7;
    --dark-orange: #CF783A;
    --region-btn-orange: #f89c5e;

    --coral: #f25c54;
    --light-red: #f87171;
    --red: #cd1c18;

    --font-black: #2c2c2c;
}

.msg {
    color: var(--font-black);
    background-color: var(--light-grey);
    grid-column: 1 / -1; /* spans from first to last column */
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 16px;
    border-radius: 4px;
}

.success-msg {
    color: var(--light-green);
}

.error-msg {
    color: var(--red);
}

.oneline-form {
    display: inline;
    margin: 0;
    padding: 0;
}

/****************    BUTTONS    ****************/

.btn,
.table-btn,
.table-btn-show,
.table-btn-update,
.table-btn-add,
.table-btn-remove {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    color: var(--font-black);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    user-select: none;
}


/* Table row buttons */

.table-btn,
.table-btn-show,
.table-btn-update,
.table-btn-add,
.table-btn-remove {
    font-size: 15px;
    font-weight: 600;
    border: 1px solid var(--font-black);
}

.table-btn-show {
    background-color: var(--light-steel-blue);
}

.table-btn-show:hover {
    background-color: var(--dirty-white);
    box-shadow: 0 5px 10px rgba(90,98,104,0.4);
}

.table-btn-remove {
    background-color: var(--coral);
}

.table-btn-remove:hover {
    background-color: var(--dirty-white);
    box-shadow: 0 5px 10px rgba(90,98,104,0.4);
}

.table-btn-add {
    background-color: var(--fresh-green);
}

.table-btn-add:hover {
    background-color: var(--dirty-white);
    box-shadow: 0 5px 10px rgba(33,136,56,0.4);
}

.table-btn-update {
    background-color: var(--blue);
}

.table-btn-update:hover {
    background-color: var(--dirty-white);
    box-shadow: 0 5px 10px rgba(0,86,179,0.4);
}

.redirect_button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 20%;
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.redirect_button:hover {
    background-color: var(--navy-blue);
    box-shadow: 0 5px 10px rgba(90,98,104,0.4);
}


/****************    Top Navigation Bar    ****************/

.navbar {
    background-color: var(--navy-blue);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Flex children */
.navbar .left,
.navbar .right {
    display: flex;
    align-items: center;
}

/* Logo */


/* Title */
.navbar .title {
    font-size: 20px;
    font-weight: 550;
    margin-left: 20px;
    margin-right: 10px;
}

/* Navigation Links */
.navbar a {
    color: var(--dirty-white);
    text-decoration: none;
    margin-right: 4px;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

/* User Info & Logout */
.navbar .user-info {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    margin-right: 20px;
}

.navbar .logout-btn {
    background-color: var(--light-beige);
    color: var(--font-black);
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.navbar .logout-btn:hover {
    background-color: var(--coral);
}

/****************    MAIN CONTENT    ****************/

.main {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-beige);
}

.main-content {
    width: 96%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 40px;
}

.main-btn {
    display: inline-block; /* allows adding margins */
    background-color: var(--orange);
    color: var(--font-black);
    text-decoration: none;
    text-align: center;
    padding: 12px 36px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(249, 115, 22, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.main-btn:hover {
    background-color: var(--region-btn-orange);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(234, 88, 12, 0.4);
}


/****************    TABLE    ****************/

/* Table bar */
/* The .table-bar class is on the same element as .navbar */
.navbar.table-bar {
    background-color: var(--region-header-blue);
    margin-top: 24px;
    padding: 4px 24px;
}

/* Table bar button btn*/
.table-bar .main-btn {
    background-color: var(--region-btn-orange);
    color: var(--font-black);
    border: 1px solid var(--font-black);
    /*box-shadow: 0 3px 6px rgba(255, 255, 255);*/
}


/* Base table styling */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: var(--font-black);
    margin-bottom: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
thead {

}

thead th {
    background-color: var(--blue);
    padding: 16px 16px;
    font-size: 16px;
    font-weight: 600;
}

/* Body styling */
tbody tr {
    border-bottom: 1px solid var(--grey);
}

tbody tr:nth-child(even) {
    background-color: var(--dirty-white);
}

tbody td {
    padding: 8px 16px;
}

/* Hover effect */
tbody tr:hover {
    /*color: var(--dirty-white);*/
    background-color: var(--baby-blue);
}

.small-table {
    width: 100%;
}

/* Responsive table */
@media screen and (max-width: 600px) {
        table,
        thead,
        tbody,
        th,
        td,
        tr {
        display: block;
    }

    thead {
        display: none;
    }

    tbody td {
        position: relative;
        padding-left: 50%;
    }

    tbody td::before {
        position: absolute;
        left: 15px;
        top: 12px;
        white-space: nowrap;
        font-weight: bold;
        color: var(--light-grey);
        content: attr(data-label);
    }
}


/****************    DICTIONARY TABLE    ****************/

.dictionary-table {
    width: 100%;
    /*max-width: 600px;*/
    margin-top: 8px;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--font-black);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.dictionary-table th {
    background-color: var(--dark-beige);
    text-align: right;
    padding: 12px 16px;
    width: 30%;
    font-weight: 600;
    border-bottom: 1px solid var(--beige);
}

.dictionary-table td {
    padding: 12px 16px;
    background-color: var(--dirty-white);
    border-bottom: 1px solid var(--beige);
    font-weight: 500;
}


/****************    2 COLUMN DIV    ****************/

.row {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
}

.column table {
  width: 100%;
  border-collapse: collapse;
}

