<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <title>Home - HR Point</title>
</head>
<body>
    <div class="navbar">
        <div class="left">
            <img th:src="@{/favicon.ico}" alt="HR_Point-Logo" src="">
            <div class="title">HR Point</div>
            <div class="nav-links">
                <span>➤ Home page</span>
            </div>
        </div>

        <div class="right">
            <div class="user-info">
                <span>User: <span sec:authentication="principal.username"></span></span>
                <span>|    Role(s): <span sec:authentication="principal.authorities"></span></span>

                <form action="#" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout" class="logout-btn" />
                </form>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-content">
            <a th:href="@{/people/addPerson}" class="main-btn">Add Person</a>
            <a th:href="@{/people/list}" class="main-btn">Show people</a>
        </div>
    </div>
</body>
</html>