<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <div th:fragment="navbar(navLinks)" class="navbar">
        <div class="left">
            <a th:href="@{/home}">
                <img th:src="@{/favicon.ico}" alt="HR_Point-Logo">
            </a>
            <div class="title">
                <a th:href="@{/home}" style="color: inherit; text-decoration: none;">HR Point</a>
            </div>
            <div class="nav-links">
                <th:block th:replace="${navLinks}"></th:block>
            </div>
        </div>
        <div class="right">
            <div class="user-info">
                <!-- Only show user info when authenticated -->
                <div sec:authorize="isAuthenticated()">
                    <span>User: <span sec:authentication="principal.fullName"></span></span>
                    <span> | Role(s): <span sec:authentication="principal.authorities"></span></span>
                    <form action="#" th:action="@{/logout}" method="POST">
                        <input type="submit" value="Logout" class="logout-btn" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>