<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <title>People - HR Point</title>
</head>
<body>
    <div class="navbar">
        <div class="left">
            <img th:src="@{/favicon.ico}" alt="HR_Point-Logo" src="">
            <div class="title">HR Point</div>
            <div class="nav-links">
                <a th:href="@{/home}">➤ Home page</a>
                <span>➤ People list</span>
            </div>
        </div>

        <div class="right">
            <div class="user-info">
                <span>User: <span sec:authentication="principal.username"></span></span>
                <span>|    Role(s): <span sec:authentication="principal.authorities"></span></span>

                <form action="#" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout" class="logout-btn" />
                </form>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-content">
            <div class="region-bar">
                <div class="left">
                    <h2>People list</h2>
                </div>
                <div class="right">
                    <a th:href="@{/people/addPerson}" class="main-btn">Add Person</a>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Person ID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Social sec num</th>
                        <th>Zip code</th>
                        <th>City</th>
                        <!--
                        <th>Street</th>
                        <th>Building num</th>
                        <th>Apartment num</th>
                        -->
                        <th></th> <!--Row actions-->
                    </tr>
                </thead>
                <tr th:each="person, iterStat : ${peopleList}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${person.id}"></td>
                    <td th:text="${person.firstName}"></td>
                    <td th:text="${person.lastName}"></td>
                    <td th:text="${person.socialNo}"></td>
                    <td th:text="${person.zipCode}"></td>
                    <td th:text="${person.city}"></td>
                    <!--
                    <td th:text="${person.street}"></td>
                    <td th:text="${person.buildNo}"></td>
                    <td th:text="${person.apartNo}"></td>
                    -->
                    <td>
                        <div style="display: flex; gap: 10px;">
                            <form th:action="@{/people/showPerson}" method="post">
                                <input type="hidden" name="perId" th:value="${person.id}">
                                <button type="submit" class="table-btn-show">Show details</button>
                            </form>
                            <div th:if="${ifUserExists[person.id]}">
                                <form th:action="@{/users/updateUser}" method="post">
                                    <input type="hidden" name="perId" th:value="${person.id}">
                                    <button type="submit" class="table-btn-update">Update user</button>
                                </form>
                            </div>
                            <div th:if="${!ifUserExists[person.id]}">
                                <form th:action="@{/users/addUser}" method="post">
                                    <input type="hidden" name="perId" th:value="${person.id}">
                                    <button type="submit" class="table-btn-add">Add user</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>