<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/logInOut.css}">
    <title>Person added - HR Point</title>
</head>
<body>

    <!-- NAVBAR -->

    <div th:replace="~{navbar :: navbar(~{:: #navLinks})}">
        <div th:replace="~{navbar :: navbar(~{:: #navLinks})}">
            <div id="navLinks">
                <a th:href="@{/home}">➤ Home page</a>
                <a th:href="@{/people/list}">➤ People list</a>
                <span>➤ New person added!</span>
            </div>
        </div>
    </div>

    <!-- MAIN -->

    <div class="main">
        <div class="main-content">
            <a th:href="@{/people/addPerson}" class="redirect_button">Add next Person</a>
            <br><br>

            <p>Added Person: <span style="color:blue" th:text="${thePerson.firstName} + ' ' + ${thePerson.lastName}"></span></p>
        </div>
    </div>
</body>
</html>