<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <title>Person Details - HR Point</title>
</head>
<body>
    <div class="navbar">
        <div class="left">
            <div class="title">HR Point</div>

            <div class="nav-links">
                <a th:href="@{/home}">➤ Home page</a>
                <a th:href="@{/people/list}">➤ People list</a>
                <span>➤ Person details</span>
            </div>
        </div>

        <div class="right">
            <div class="user-info">
                <span>User: <span sec:authentication="principal.username"></span></span>
                <span>|    Role(s): <span sec:authentication="principal.authorities"></span></span>

                <form action="#" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout" class="logout-btn" />
                </form>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-content">

            <table class="dictionary-table">
                <tbody>
                <tr>
                    <th>Person ID</th>
                    <td th:text="${person.id}"></td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td th:text="${person.firstName}"></td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td th:text="${person.lastName}"></td>
                </tr>

                <tr th:if="${person.employee != null}">
                    <th>Manager ID</th>
                    <td th:text="${person.employee.managerId != null ? person.employee.managerId : 'N/A'}"></td>
                </tr>
                <tr th:if="${person.employee != null}">
                    <th>Department ID</th>
                    <td th:text="${person.employee.departmentId != null ? person.employee.departmentId : 'None'}"></td>
                </tr>
                </tbody>
            </table>

            <!-- Leave requests -->
            <!-- FIXME checking row person roles, not only logged person -->
            <div th:if="${#authentication.principal.authorities != null
            and (#strings.toString(#authentication.principal.authorities).contains('2')
                or #strings.toString(#authentication.principal.authorities).contains('3'))}">
                <div class="navbar table-bar">
                    <div class="left">
                        <h2>Leave requests</h2>
                    </div>
                    <div class="right">
                        <form th:action="@{/people/addLeaveRequest}" method="post">
                            <input type="hidden" name="perId" th:value="${person.id}">
                            <button type="submit" class="main-btn table-bar-btn">Add leave request</button>
                        </form>
                    </div>
                </div>
                <table class="table small-table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Leave type</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Duration [days]</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr th:each="req, iterStat : ${leaveRequestList}">
                        <td th:text="${iterStat.index + 1}"></td>
                        <td th:text="${req.leaveRequest.leaveType.longName}"></td>
                        <td th:text="${req.leaveRequest.startDate}"></td>
                        <td th:text="${req.leaveRequest.endDate}"></td>
                        <td th:text="${req.leaveRequest.durationDays}"></td>
                        <td th:text="${req.lastStatus}"></td>
                        <td>
                            <div style="display: flex; gap: 10px;">
                                <div th:if="${req.lastStatus} == 'New'">
                                    <form th:action="@{/people/removeLeaveRequestProcess}" method="post">
                                        <input type="hidden" name="leaveRequestId" th:value="${req.leaveRequest.id}">
                                        <input type="hidden" name="perId" th:value="${person.id}">
                                        <button type="submit" class="btn table-btn-remove">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(leaveRequestList)}">
                        <td colspan="8">No leave requests found</td>
                    </tr>
                </table>
            </div>

            <!-- Employees -->
            <!-- FIXME checking row person roles, not only logged person -->
            <div th:if="${#authentication.principal.authorities != null
            and (#strings.toString(#authentication.principal.authorities).contains('2')
                or #strings.toString(#authentication.principal.authorities).contains('3'))}">
                <div class="navbar table-bar">
                    <div class="left">
                        <h2>Employees</h2>
                    </div>
                    <div class="right">

                    </div>
                </div>
                <table class="table small-table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr th:each="employee, iterStat : ${employeesList}">
                        <td th:text="${iterStat.index + 1}"></td>
                        <td th:text="${employee.person.id}"></td>
                        <td th:text="${employee.person.firstName}"></td>
                        <td th:text="${employee.person.lastName}"></td>
                        <td>
                            <div style="display: flex; justify-content: flex-end; gap: 10px;">
                                <form th:action="@{/people/showPerson}" method="post">
                                    <input type="hidden" name="perId" th:value="${employee.person.id}">
                                    <button type="submit" class="btn table-btn-show">Show person details</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(employeesList)}">
                        <td colspan="5" th:text="${person.firstName} + ' ' + ${person.lastName} + ' is not a manager or no employees found'"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>