<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/logInOut.css}">
    <title>Person added - HR Point</title>
</head>
<body>
    <div class="navbar">
        <div class="left">
            <div class="title">HR Point</div>

            <div class="nav-links">
                <a th:href="@{/home}">➤ Home page</a>
                <a th:href="@{/home}">➤ People list</a>
                <span>➤ New person added!</span>
            </div>
        </div>

        <div class="right">
            <div class="user-info">
                <span>User: <span sec:authentication="principal.username"></span></span>
                <span>|    Role(s): <span sec:authentication="principal.authorities"></span></span>

                <form action="#" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout" class="logout-btn" />
                </form>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-content">
            <a th:href="@{/people/addPerson}" class="redirect_button">Add next Person</a>
            <br><br>

            <p>Added Person: <span style="color:blue" th:text="${thePerson.firstName} + ' ' + ${thePerson.lastName}"></span></p>
        </div>
    </div>
</body>
</html>