<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logInOut.css}">
    <title>Person Details - HR Point</title>
</head>
<body>
    <h2>HR Point</h2>

    <a th:href="@{/home}">Home page</a>
    <br>

    <form action="#" th:action="@{/logout}" method="POST" class="oneline-form">
        <p>
            <input type="submit" value="Logout" class="logout-button" />
              User:
            <span sec:authentication="principal.username"></span>
             | Role(s):
            <span sec:authentication="principal.authorities"></span>
        </p>
    </form>

    <h3>Person details</h3>
    <p>ID: <span th:text="${person.id}"></span></p>
    <p>First name: <span th:text="${person.firstName}"></span></p>
    <p>Last name: <span th:text="${person.lastName}"></span></p>

    <div th:if="${person.employee != null}">
        <p>Manager ID: <span th:text="${person.employee.managerId != null ? person.employee.managerId : 'None'}"></span></p>
        <p>Department ID: <span th:text="${person.employee.departmentId != null ? person.employee.departmentId : 'None'}"></span></p>
    </div>

    <!-- Employee Table -->
    <!-- FIX checking row person roles, not only logged person -->
    <div th:if="${#authentication.principal.authorities != null
    and (#strings.toString(#authentication.principal.authorities).contains('2')
        or #strings.toString(#authentication.principal.authorities).contains('3'))}">
        <h2>Employees</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Details</th>
            </tr>
            <tr th:each="employee : ${employeesList}">
                <td th:text="${employee.person.id}"></td>
                <td th:text="${employee.person.firstName}"></td>
                <td th:text="${employee.person.lastName}"></td>
                <td>
                    <form th:action="@{/people/showPerson}" method="post">
                        <input type="hidden" name="perId" th:value="${employee.person.id}">
                        <button type="submit">Show details</button>
                    </form>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(employeesList)}">
                <td colspan="4">No employees found.</td>
            </tr>
        </table>
    </div>

</body>
</html>